*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

system/
Template/
time-Sheet/

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/